@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(city.jpg) no-repeat;
    background-size: cover;
}

img {
    padding-top: 20px;
    padding-left: 20px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

h2 {
    padding-left: 250px;
    margin-top: -130px;
    font-size: 50px;
}

.room-box{
    width: 280px;
    position: absolute;
    top: 38%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    color: white;
}

.login-with-spotify{
    width: 500px;
    position: absolute;
    top: 38%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: white;
}

.navigate-playlist{
    position: absolute;
    top: 36.5%;
    left: 38.05%;
}

.display-box{
    width: 400px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.display-box h1{
    float: center;
    color: black;
    font-size: 40px;
    border-bottom: 8px solid #4caf50;
    margin-bottom: 14px;
    padding 13px 0;
}

.btn{
    width: 45%;
    background: none;
    border: 1px solid #4caf50;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    margin: 12px 0;
}